@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Menú de inicio */
#start-menu {
    position: absolute;
    z-index: 20;
    text-align: center;
    background: linear-gradient(to bottom, #222831 10%, #16213e 90%);
    padding: 50px;
    border-radius: 50px;
    border: 10px solid #ff2e63;
    box-shadow: 0 0 20px transparent, 0 0 30px #ff0033;
    color: #08d9d6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modal de reglas */
#rules-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 30;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rules-content {
    background: #2b2e4a;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    width: 450px;
}

#rules-content h2 {
    color: #ff2e63;
}

#play-game, #show-rules, #close-rules {
    background-color: #ff2e63;
    color: #ffffff;
    border: 2px solid #903749;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0 4px 15px rgba(255, 46, 99, 0.5);
}

#play-game:hover, #show-rules:hover, #close-rules:hover {
    background-color: #e84545;
    transform: scale(1.1);
}

#game-board {
    position: relative;
    z-index: 10;
    text-align: center;
    background: linear-gradient(to bottom, #222831 10%, #16213e 90%);
    padding: 30px;
    border-radius: 50px;
    border: 10px solid #ff2e63;
    box-shadow: 0 0 20px transparent, 0 0 30px #ff0033;
    width: 400px;
    height: 600px;
    color: #08d9d6;
    display: none;
}

h1, h2 {
    margin: 0;
    padding-bottom: 10px;
    color: #ff2e63;
    text-shadow: 2px 1px #e84545;
}

#player, #dealer {
    margin-bottom: 20px;
    color: #08d9d6;
}

#controls button {
    background-color: #ff2e63;
    color: #ffffff;
    border: 2px solid #903749;
    padding: 12px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 15px rgba(255, 46, 99, 0.5);
}

#controls button:hover {
    background-color: #e84545;
    color: #ffffff;
    transform: scale(1.1);
}

#message {
    font-weight: bold;
    color: #ffd369;
    margin-top: 20px;
    text-shadow: 1px 1px #e84545;
}

.card-image {
    max-width: 60px;
    max-height: 100px;
    margin: 3px;
    border: 3px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 7px #000000;
    margin-left: -30px;
    transform-origin: bottom center;
    position: relative;
}

/* Fondo animado estilo retro */
#retro-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #222831 10%, #16213e 90%);
    overflow: hidden;
    z-index: 1;
}

.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(transparent, transparent 20px, #08d9d6 21px, transparent 22px),
                repeating-linear-gradient(90deg, transparent, transparent 20px, #08d9d6 21px, transparent 22px);
    transform: translate(-50%, -50%) rotateX(60deg);
    animation: moveGrid 10s linear infinite;
    opacity: 0.2;
}

#game-over-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
}

#game-over-screen button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


@keyframes moveGrid {
    0% {
        transform: translate(-50%, -50%) rotateX(60deg) translateZ(0);
    }
    100% {
        transform: translate(-50%, -50%) rotateX(60deg) translateZ(-500px);
    }
}